@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    font-family: 'Quicksand';

}
header{
    text-align: center;
    color: black;
    margin: 2%;
    height: 10vh;
}

main{
    display: flex;
    height: 80vh;
}

.memory-game{
    height: 640px;
    width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card{
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px 1px  black solid;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d; /*Não deixa o elemento achatado*/
    transition: transform 0.9s;

}

.card:active{
    transform: scale(0.97);
    transition: 0.3s;
}


.card-front,
.card-back{
    height: 100%;
    width: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: violet;
    backface-visibility: hidden;   /* Propriedade que retira o verso da carta8*/
}

.card-front{
    transform: rotateY(180deg);
}

/* flip card animation */

.card.flip{
    transform: rotateY(180deg);
}

footer {
    width: 100%;
    text-align: center;
    font-size: 20px;   
    height: 10vh;
    padding: 5px;
    margin: 3% 0;
}
footer a{
    margin: 2%;
    color: black;
   
}

